
<div class="create-review">

<div class="form-review">
<form action="/book/{{ id }}/review" method="POST">
  <label for="input-rate">Rate</label>
  <select name="rate" id="input-rate">
    <option value="none" selected disabled hidden> </option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select>

  <br>

  
  <label for="input-content">Review</label> <br>
  <textarea name="content" id="input-content" placeholder="What do you think about this book?"></textarea>
<br>
  <button>Submit</button>
</form>
</div>
</div>