<header class="container-img">


  <h1>Welcome to Books and Tea!</h1>

  <form action="/search" method="GET">
    <input type="text" placeholder="Search for book or author" name="term" />

    <button>Search Now</button>
  </form>

</header>