<h1>{{list.name}}</h1>
<p>{{list.creator}}</p>
<p>{{user.username}}</p>

<form action="/search" method="GET">
  <input type="text" placeholder="Search for book" name="term" />
  <button>Search Now</button>
</form>

