<div class="authentication">

<form action="/authentication/sign-in" method="POST">
  <label for="input-username">Username</label>
  <input type="text" id="input-username" name="username" placeholder="Your Username" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  <button>Sign In</button>
</form>
<br>
<a href="/authentication/facebook">Login with Facebook</a>
{{!-- <a href="/authentication/github">Sign In with GitHub</a> --}}

</div>