<div class="authentication">

<form  class="form-container" action="/authentication/sign-up" method="POST">

  <label for="input-username">Username</label>
  <input type="text" required id="input-username" name="username" placeholder="Your Username" />

  <label for="input-email">Email</label>
  <input type="email" required id="input-email" name="email" placeholder="Your Email" />

  <label for="input-password">Password</label>
  <input type="password" required name="password" id="input-password" placeholder="A Strong Password" />

  <button>Sign Up</button>
</form>
<br>
<a href="/authentication/facebook">Login with Facebook</a>
{{!-- <a href="/authentication/github">Sign Up with GitHub</a> --}}

</div>