<div class="error-page">
  
  <div class="msg-error">
  <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
</div>
<div class="img-error">
<img src="/images/error.png" alt="book-image" width="300px">
<h3>Relax and read a book!</h3>
</div>
{{!-- <pre>{{error.stack}}</pre> --}}
</div>