<h1>Edit your profile</h1>

{{!-- enctype="multipart/form-data" --}}
<form method="POST"  >

  <label for="input-about">About Me</label>
  <textarea id="input-about" name="about">Write something about yourself...</textarea>

  <label for="input-location">Location</label>
  <input type="text" id="input-location" name="location" placeholder="Your City and Country" /> 
{{!-- 
  <label for="input-picture">Picture</label>
  <input type="file" accept="image/*" name="picture" id="input-picture" />  --}}

  <button>Edit your account</button>
</form>