$font-sans: 'Open Sans';
$darkblue: #232b3b;
$blue: #2374f7;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
    // outline: red solid 1px;
  }
}

body {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-family: $font-sans;
  line-height: 2;
  // background-color: $darkblue;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  a,
  button {
    border: 0;
    padding: 0;
    margin: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

// .navbar {
//   img {
//     border-radius: 50%;
//     border: $blue solid 2px;
//   }
// }

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
button,
.btn {
  padding: 1em;
  border: 1px solid $darkblue;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

.card-body {
  p {
    font-size: 0.6em;
  }
}

.col-sm {
  flex-grow: 0;
}

.remove-book {
  width: 10px;
  margin: 0;
  padding: 0;
  border: none;
}

.profile-footer {
  width: 70%;
  .review-profile-container {
    border: lightgrey solid 1px;
    padding: 1em;
  }
}

.review-profile-top {
  display: flex;
  line-height: 1.5em;
  &-image {
    margin-right: 1em;
  }
}

.review-profile-bottom {
  line-height: 1.5em;
  margin-top: 1em;
  &-rate {
    display: flex;
    justify-content: space-between;
  }
}

// .upload-btn-wrapper {
//   position: relative;
//   overflow: hidden;
//   display: inline-block;
//   input {
//     font-size: 50px;
//     position: absolute;
//     left: 0;
//     top: 0;
//     opacity: 0;
//   }
// }

// .btn {
//   border: 2px solid gray;
//   color: gray;
//   background-color: white;
//   padding: 4px 10px;
//   border-radius: 8px;
//   font-size: 10px;
//   font-weight: bold;
// }

// .col-2 {
//   img {
//     width: 120px;
//     border-radius: 8%;
//   }
//   ul {
//     margin: 0;
//     padding: 10px 0;
//   }
//   li {
//     font-size: 0.8em;
//     font-weight: 700;
//     list-style: none;
//   }
//   p {
//     font-size: 0.8em;
//     font-weight: 200;
//     padding: 0;
//     margin: 0;
//   }
// }

// .col-10 {
//   h4 {
//     font-weight: 400;
//     color: $blue;
//   }
//   p {
//     font-size: 0.8em;
//     font-weight: 200;
//     line-height: 1.6em;
//   }
//   ul {
//     margin: 0;
//     padding: 10px 0;
//   }
//   li {
//     font-size: 1em;
//     font-weight: 700;
//     list-style: none;
//   }
// }
