$font-sans: 'Open Sans';
$darkblue: #232b3b;
$blue: #0e121a;
$whitefade: #ffffff;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;

    // outline: red solid 1px;
  }
}

body {
  margin: 0 auto !important;
  max-width: 100%;
  // height: 100%;
  font-family: 'Open Sans';
  font-family: $font-sans;
  line-height: 2;
  background-color: $darkblue;
  color: white;
}
html {
  margin-top: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
  a:hover {
    background-color: $darkblue;
  }
}

button {
  padding: 0;
  border: 0;
  margin: 10px 0;
  background: none;
}

.container-img {
  width: auto;
  background-image: url(../images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
  h1 {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 40px;
  }
  input,
  textarea {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid white;
    margin-bottom: 1em;
    border-radius: 5px;
    font: inherit;
    color: $darkblue;
    background-color: white;
  }
  button,
  .btn {
    margin: 0 auto;
    // width: 10%;
    border: none;
    padding: 5px 10px;
    border-radius: 0;
    margin-bottom: 1em;
    border-radius: 5px;
    font: inherit;
    color: white;
    background-color: $darkblue;
    &:hover {
      background-color: white;
      color: $darkblue;
      text-decoration: none;
    }
  }
}

.navbar {
  display: flex;
  width: 100%;
  margin: 0 auto 50px auto;
  background-color: $darkblue;
  height: 70px;
  position: fixed;
  padding-right: 30px;
  z-index: 1;
  box-shadow: 0 2px 4px -2px rgba(2, 2, 2, 0.705);

  img {
    height: 20px;
    padding: 0 10px;
  }
  .img-logo {
    height: 18px;
  }
  .img-avatar {
    height: 30px;
    border-radius: 50%;
  }
  a,
  button {
    padding: 0;
    border: 0;
    margin: 10px 0;
    &:not(:last-child) {
      margin-right: 0.2em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
  .navbar-btn {
    background-color: inherit;
    border: white 1px solid;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 5px;
    margin-left: 10px;
    &:hover {
      background-color: $whitefade;
      color: $darkblue;
      text-decoration: none;
    }
  }
}

.container-single {
  margin: 0 auto;
  padding: 100px 10px 0 0;
  width: 80%;
  .container-single-book {
    background-color: $blue;
    border-radius: 5px;
    color: $darkblue;
    margin: 40px auto;

    .col-md-9 {
      padding: 0 30px;
    }
  }

  .single-view {
    margin: 30px auto;
    align-items: center;
    display: inline;
    label,
    textarea {
      margin: 0 auto;
    }
    select {
      width: 100px;
      height: 40px;
      cursor: pointer;
      background-color: white;
      border-radius: 5px;
      margin: 0 auto;
    }
    h4,
    p {
      text-align: center;
    }
    button {
      border: 1px white solid;
      border-radius: 5px;
      color: white;
      width: 100px;
      margin: 20px auto;
      padding: 0;
      &:hover {
        background-color: $whitefade;
        color: $darkblue;
        text-decoration: none;
      }
    }
  }
  .add-bookshelf {
    width: 100%;
    margin: 20px 30px;
    display: flex;
    justify-content: flex-end;

    form {
      label {
        color: white;
        font-size: 0.7em;
        text-align: center;
      }
      button {
        padding: 0 5px;
        font-size: 0.8em;
        margin: 0 10px;
        border: white solid 1px;
        border-radius: 5px;
        color: white;
        &:hover {
          background-color: $whitefade;
          color: $darkblue;
          text-decoration: none;
        }
      }
      select {
        background-color: white;
        color: $blue;
      }
    }
    // border: white solid 1px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

.card-body-white {
  color: white;
  padding: 20px 30px;
  li {
    list-style: none;
    font-size: 0.8em;
    line-height: 0.9em;
    // padding-top: 10px;
  }
  ul {
    padding: 0;
    font-weight: 700;
  }
  h2 {
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: 600;
    margin: 0 0 5px 0;
  }
  h3 {
    line-height: 0.7em;
    font-size: 0.7em;
  }
  h4 {
    font-size: 0.9em;
  }
  h1 {
    font-size: 1.8em;
    font-weight: 600;
  }
  p {
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 300;
  }
  h6 {
    color: rgb(253, 253, 253);
    font-size: 0.8em;
    text-align: center;
  }
}
.card-body {
  color: white;
  li {
    list-style: none;
    font-size: 0.8em;
    line-height: 0.9em;
    // padding-top: 10px;
  }
  ul {
    padding: 0;
    font-weight: 700;
  }
  h2 {
    font-size: 0.7em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 0 0 5px 0;
  }
  h3 {
    line-height: 0.6em;
    font-size: 0.6em;
    font-weight: 200;
    padding-top: 5px;
  }
  h4 {
    font-size: 0.9em;
    color: rgb(68, 68, 68);
  }
  h1 {
    font-size: 1.8em;
    font-weight: 600;
  }
  p {
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: 400;
  }
  h6 {
    color: rgb(155, 155, 155);
    font-size: 0.8em;
    text-align: center;
  }
}

.col-md {
  flex-grow: 0;
}
.card {
  margin: 30px 0;
  height: 300px;
  background-color: $blue;
  img {
    height: 200px;
  }
}

.card-shelf {
  margin: 30px 0;
  height: 200px;
  img {
    height: 200px;
  }
}

.col-md-3 {
  margin: 30px 0;
  img {
    margin-top: 5px;
    margin-left: 50px;
    width: 150px;
  }
  .small-subtitle {
    font-size: 0.1em;
  }
}

.authentication {
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    border: 1px white solid;
    border-radius: 5px;
    color: white;
    width: 100px;
    margin: 20px auto;
    &:hover {
      background-color: $whitefade;
      color: $darkblue;
      text-decoration: none;
    }
  }
  input {
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0 30px;
  }
  label {
    padding-top: 10px;
    text-align: center;
  }
  .fb-btn {
    margin: 0 auto;
    padding-top: 20px;
    img {
      width: 200px;
    }
  }
  hr {
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    border-color: rgba(196, 196, 196, 0.418);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

.review {
  background-color: $blue;
  border-radius: 5px;
  color: white;
  margin: 0 auto;
  width: 70%;
  .col-lg-4 {
    img {
      width: 60px;
      border-radius: 50px;
    }
  }
  .col-lg-8 {
    p {
      color: white;
      font-size: 1em;
    }
  }
}

.profile-footer {
  width: 800px;
  margin: 0 auto;
  h2 {
    padding: 30px;
    font-size: 1.3em;
    text-align: center;
  }
  h4 {
    padding: 30px;
    font-size: 1em !important;
    text-align: center !important;
  }
}

.reviews-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}

.review-profile-container {
  display: flex;
  flex-direction: column;
  border: white 1px solid;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px 30px;
  .review-profile-top {
    display: flex;
    &-image {
      img {
        margin-right: 1em;
        width: 80px;
      }
    }
    &-info {
      p {
        color: white;
        line-height: 1.5em;
        font-size: 1em;
      }
      h3 {
        font-size: 1.2em;
      }
    }
  }
  .review-profile-bottom {
    padding-top: 25px;
    p {
      font-size: 0.9em;
      line-height: 1.5em;
      font-weight: 300;
      text-align: left;
    }
  }
  .review-profile-btn {
    display: flex;
    justify-content: flex-end;
    button {
      border: 1px white solid;
      border-radius: 5px;
      color: white;
      padding: 0 10px;
      margin-right: 10px;
      &:hover {
        background-color: $whitefade;
        color: $darkblue;
        text-decoration: none;
      }
    }
  }
}

.profile-container {
  margin: 0 auto;
  width: 90%;
  padding-top: 100px;
  .profile-card {
    background-color: $blue;
    border-radius: 5px;
    // border: white 2px solid;
    color: white;
    padding: 20px 20px 20px 30px;
    width: 80%;
    margin: 0 auto;
    h1 {
      font-size: 1.3em;
      font-weight: 900;
    }
    img {
      width: 200px;
      height: 200px;

      margin-top: 10px;
      margin-left: 20px;
      border-radius: 50%;
    }
    span {
      font-size: 0.9em;
      font-weight: 300;
    }
    p {
      font-size: 0.8em;
      line-height: 1.5em;
      font-weight: 200;
    }
  }
}

.account-container {
  margin: 0 auto;
  width: 60%;
  padding-top: 100px;
  .account-card {
    background-color: $blue;
    border-radius: 5px;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-items: center;

    &-middle {
      display: flex;
      .left {
        img {
          border-radius: 50%;
          width: 200px;
          height: 200px;
          margin: 20px;
        }
        .inputfile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
          margin-left: 20px;
        }
        .inputfile,
        label {
          font-size: 0.57m;
          color: white;
          background-color: $darkblue;
          border-radius: 5px;
          cursor: pointer;
          display: inline-block;
          padding: 0 10px;
          margin-left: 50px;
        }
        button {
          border: 1px white solid;
          border-radius: 5px;
          color: white;
          padding: 0 8px;
          margin-right: 10px;
          &:hover {
            background-color: $whitefade;
            color: $darkblue;
            text-decoration: none;
          }
        }
      }
      .right {
        padding-left: 20px;
        span {
          line-height: 1.1em;
          font-weight: 300;
        }
      }
    }
    &-footer {
      display: flex;
      justify-content: center;
      padding-top: 40px;
      a:hover {
        text-decoration: none;
        color: $darkblue;
      }
      button {
        border: 1px white solid;
        border-radius: 5px;
        color: white;
        padding: 0 10px;
        margin-right: 10px;
        &:hover {
          background-color: $whitefade;
          color: $darkblue;
          text-decoration: none;
        }
      }
    }
  }
}
.shelves-container {
  background-color: inherit;
  color: white;
  margin: 40px auto;

  // padding: 30px;
  width: 90%;
  // .row {
  //   margin: 0;
  // }
  p {
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
  }
}

.more-btn {
  width: 30px;
  padding-left: 10px;
}

.container-shelf {
  border-radius: 5px;
  margin: 0 auto;
  padding: 100px 10px;
  width: 80%;
  position: relative;
  h2 {
    text-align: center;
  }
  .remove-btn {
    width: 20px;
    float: left;
    position: absolute;
    padding-top: 325px;
    margin-left: 60px;
    z-index: 1;
  }
  p {
    font-weight: 500;
    font-size: 0.8em;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
  .card {
    background-color: $blue;
    min-height: 320px;
  }
}
.container-search {
  margin: 0 auto;
  padding: 100px 10px;
  width: 80%;
}

.edit-container {
  margin: 0 auto;
  padding: 100px 10px;
  width: 70%;
  button {
    border: 1px white solid;
    border-radius: 5px;
    color: white;
    width: 200px;
    margin: 30px auto;
    &:hover {
      background-color: $whitefade;
      color: $darkblue;
      text-decoration: none;
    }
  }
  textarea,
  input {
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(180, 180, 180);
    max-height: auto;
  }
  select {
    background-color: white;
    color: $blue;
    width: 50px;
  }
  h1,
  h3 {
    font-size: 1.5em;
  }
}

.form-reviews-container {
  width: 80%;
  margin: 0 auto;
}

// .create-review {
//   margin: 0 auto;
//   padding-top: 30px;
//   .form-review {
//     form {
//     }
//     button {
//       border: 1px white solid;
//       border-radius: 10px;
//       color: white;
//       width: 100px;
//       margin: 20px auto;
//       &:hover {
//         background-color: $whitefade;
//         color: $darkblue;
//         text-decoration: none;
//       }
//     }
//     input {
//       width: 400px;
//       margin: 0 auto;
//       border-radius: 10px;
//       padding: 0 30px;
//     }
//     label {
//       padding-top: 10px;
//       text-align: center;
//       margin: 0 auto;
//     }
//     select {
//       background-color: white;
//       color: $blue;
//     }
//     textarea {
//       width: 80%;
//     }
//   }
// }

.create-review {
  display: flex;
  flex-direction: column;
  form {
    width: 60%;
    margin: 0 auto;
    select {
      background-color: white;
      color: $blue;
    }
    label {
      color: white;
      font-size: 1em;
    }
    .review-content {
      textarea {
        border: 1px solid white;
        border-radius: 5px;
        color: $darkblue;
        background-color: white;
        width: 100%;
      }
    }
    .review-btn {
      display: flex;
      justify-items: flex-end;
      button {
        border: 1px white solid;
        border-radius: 5px;
        color: white;
        width: 100px;
        margin: 20px auto;
        &:hover {
          background-color: $whitefade;
          color: $darkblue;
          text-decoration: none;
        }
      }
    }
  }
}
