$font-sans: 'Open Sans';
$darkblue: #232b3b;
$blue: #0e121a;
$whitefade: #ffffff34;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;

    // outline: red solid 1px;
  }
}

body {
  margin: 0 auto !important;
  max-width: 100%;
  // height: 100%;
  font-family: 'Open Sans';
  font-family: $font-sans;
  line-height: 2;
  background-color: $darkblue;
  color: white;
}
html {
  margin-top: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
  a:hover {
    background-color: $darkblue;
  }
}

button {
  padding: 0;
  border: 0;
  margin: 10px 0;
  background: none;
}

.container-img {
  width: auto;
  background-image: url(../images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
  h1 {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 40px;
  }
  input,
  textarea {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid white;
    border-radius: 0;
    margin-bottom: 1em;
    border-radius: 8px;
    font: inherit;
    color: $darkblue;
    background-color: white;
  }
  button,
  .btn {
    margin: 0 auto;
    // width: 10%;
    border: none;
    padding: 10px;
    border-radius: 0;
    margin-bottom: 1em;
    border-radius: 5px;
    font: inherit;
    color: white;
    background-color: $darkblue;
    &:hover {
      background-color: rgb(0, 0, 0);
      color: white;
      text-decoration: none;
    }
  }
}

.navbar {
  display: flex;
  width: 100%;
  margin: 0 auto 50px auto;
  background-color: $darkblue;
  height: 70px;
  position: fixed;
  padding-right: 30px;
  z-index: 1;
  box-shadow: 0 2px 4px -2px rgba(2, 2, 2, 0.705);

  img {
    height: 20px;
    padding: 0 10px;
  }
  .img-logo {
    height: 18px;
  }
  .img-avatar {
    height: 30px;
    border-radius: 50%;
  }
  a,
  button {
    padding: 0;
    border: 0;
    margin: 10px 0;
    &:not(:last-child) {
      margin-right: 0.2em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
  .navbar-btn {
    background-color: inherit;
    border: white 1px solid;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 10px;
    margin-left: 10px;
    &:hover {
      background-color: $whitefade;
      color: white;
      text-decoration: none;
    }
  }
}

.container-single {
  border-radius: 20px;
  margin: 0 auto;
  padding: 100px 10px;
  width: 80%;
  .container-single-book {
    background-color: inhert;
    border: white 2px solid;
    border-radius: 20px;
    color: $darkblue;
    margin: 40px auto;

    .col-md-9 {
      padding: 0 30px;
    }
  }

  .single-view {
    margin: 30px auto;
    align-items: center;
    display: inline;
    label,
    textarea {
      margin: 0 auto;
    }
    select {
      width: 100px;
      height: 40px;
      cursor: pointer;
      background-color: white;
      border-radius: 8px;
      margin: 0 auto;
    }
    h4,
    p {
      text-align: center;
    }
    button {
      border: 1px white solid;
      border-radius: 2px;
      color: white;
      width: 100px;
      margin: 20px auto;
      padding: 0;
      &:hover {
        background-color: $whitefade;
        color: white;
        text-decoration: none;
      }
    }
  }
}

// #review {
//   background-color: red;
//   width: 1060px;
//   .img {
//     width: 30px;
//     border-radius: 50px;
//   }
// }
// h1,
// h2,
// h3 {
//   margin: 0;
//   line-height: inherit;
//   &:not(:last-child) {
//     margin-bottom: 1rem;
//   }
// }

// img {
//   width: 100px;
// }

.form-container {
  display: flex;
  flex-direction: column;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

.card-body-white {
  color: white;
  padding: 20px 30px;
  li {
    list-style: none;
    font-size: 0.8em;
    line-height: 0.9em;
    // padding-top: 10px;
  }
  ul {
    padding: 0;
    font-weight: 700;
  }
  h2 {
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: 600;
    margin: 0 0 5px 0;
  }
  h3 {
    line-height: 0.7em;
    font-size: 0.7em;
  }
  h4 {
    font-size: 0.9em;
  }
  h1 {
    font-size: 1.8em;
    font-weight: 600;
  }
  p {
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 300;
  }
  h6 {
    color: rgb(253, 253, 253);
    font-size: 0.8em;
    text-align: center;
  }
}
.card-body {
  color: $darkblue;
  li {
    list-style: none;
    font-size: 0.8em;
    line-height: 0.9em;
    // padding-top: 10px;
  }
  ul {
    padding: 0;
    font-weight: 700;
  }
  h2 {
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: 600;
    margin: 0 0 5px 0;
  }
  h3 {
    line-height: 0.7em;
    font-size: 0.7em;
  }
  h4 {
    font-size: 0.9em;
    color: rgb(68, 68, 68);
  }
  h1 {
    font-size: 1.8em;
    font-weight: 600;
  }
  p {
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: 400;
  }
  h6 {
    color: rgb(155, 155, 155);
    font-size: 0.8em;
    text-align: center;
  }
}

.col-md {
  flex-grow: 0;
}
.card {
  margin: 30px 0;
  height: 300px;
  img {
    height: 200px;
  }
}

.card-shelf {
  margin: 30px 0;
  height: 200px;
  img {
    height: 200px;
  }
}

.col-md-3 {
  margin: 30px 0;
  img {
    margin-top: 5px;
    margin-left: 50px;
    width: 150px;
  }
  .small-subtitle {
    font-size: 0.1em;
  }
}

.authentication {
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
  button {
    border: 1px white solid;
    border-radius: 10px;
    color: white;
    width: 100px;
    margin: 20px auto;
    &:hover {
      background-color: $whitefade;
      color: white;
      text-decoration: none;
    }
  }
  input {
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0 30px;
  }
  label {
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
  }
}

.review {
  background-color: $blue;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  width: 70%;
  .col-lg-4 {
    img {
      width: 60px;
      border-radius: 50px;
    }
  }
  .col-lg-8 {
    p {
      color: white;
      font-size: 1em;
    }
  }
}

// .profile-footer {
//   width: 1000px;
//   margin: 0 auto;
//   h2 {
//     padding: 30px;
//     font-size: 1.3em;
//     text-align: center;
//   }
//   .review-profile-container {
//     display: flex;
//     flex-direction: column;
//     border: lightgrey solid 1px;
//     border-radius: 8px;
//     padding: 30px;
//     .review-profile-top {
//       display: flex;
//       .review-profile-top-image {
//         image {
//           margin-right: 1em;
//           width: 20px;
//         }
//       }
//       .review-profile-top-info {
//         color: white;
//         line-height: 1.5em;
//       }
//     }
//   }

//   .review-profile-bottom {
//     color: white;
//     line-height: 1.5em;
//     margin-top: 1em;
//     &-rate {
//       display: flex;
//       justify-content: space-between;
//     }
//   }
//   button {
//     border: 1px white solid;
//     border-radius: 5px;
//     color: white;
//     padding: 0 10px;
//     margin: 30px auto;
//     &:hover {
//       background-color: $whitefade;
//       color: white;
//       text-decoration: none;
//     }
//   }
// }

.profile-footer {
  width: 1000px;
  margin: 0 auto;
  h2 {
    padding: 30px;
    font-size: 1.3em;
    text-align: center;
  }
}

.reviews-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.review-profile-container {
  display: flex;
  flex-direction: column;
  border: white 1px solid;
  margin: 10px 0;
  padding: 20px 30px;
  .review-profile-top {
    display: flex;
    &-image {
      img {
        margin-right: 1em;
        width: 80px;
      }
    }
    &-info {
      p {
        color: white;
        line-height: 1.5em;
        font-size: 1em;
      }
      h3 {
        font-size: 1.2em;
      }
    }
  }
  .review-profile-bottom {
    padding-top: 25px;
    p {
      font-size: 0.9em;
      line-height: 1.5em;
      font-weight: 300;
    }
  }
  .review-profile-btn {
    display: flex;
    justify-content: flex-end;
    button {
      border: 1px white solid;
      border-radius: 5px;
      color: white;
      padding: 0 10px;
      margin-right: 10px;
      &:hover {
        background-color: $whitefade;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.profile-container {
  margin: 0 auto;
  width: 90%;
  padding-top: 100px;
  .profile-card {
    background-color: $blue;
    border-radius: 8px;
    // border: white 2px solid;
    color: white;
    padding: 20px 20px 20px 30px;
    width: 80%;
    margin: 0 auto;
    h1 {
      font-size: 1.3em;
      font-weight: 900;
    }
    img {
      width: 200px;
      margin-top: 10px;
      margin-left: 20px;
      border-radius: 50%;
    }
    span {
      font-size: 0.9em;
      font-weight: 300;
    }
    p {
      font-size: 0.8em;
      line-height: 1.5em;
      font-weight: 200;
    }
  }
}
.account-container {
  margin: 0 auto;
  width: 70%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .account-card {
    background-color: inherit;
    border: white 2px solid;
    border-radius: 10px;
    color: white;
    padding: 30px;
    h1 {
      font-size: 1.3em;
      font-weight: 900;
      text-align: center;
    }
    img {
      width: 180px;
      border-radius: 50%;
    }
    .account {
      span {
        line-height: 1em;
      }
    }
    a {
      border: 1px white solid;
      text-align: center;
      border-radius: 8px;
      color: white;
      padding: 5px 20px;
      &:hover {
        background-color: $whitefade;
        color: white;
        text-decoration: none;
      }
    }
    button {
      border: 1px white solid;
      border-radius: 8px;
      color: white;
      width: 200px;

      &:hover {
        background-color: $whitefade;
        color: white;
        text-decoration: none;
      }
    }
  }
}
.shelves-container {
  background-color: inherit;
  color: white;
  margin: 40px auto;

  // padding: 30px;
  width: 90%;
  // .row {
  //   margin: 0;
  // }
  p {
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
  }
}

.more-btn {
  width: 30px;
  padding-left: 10px;
}

.container-shelf {
  border-radius: 20px;
  margin: 0 auto;
  padding: 100px 10px;
  width: 80%;
  position: relative;
  h2 {
    text-align: center;
  }
  .remove-btn {
    width: 20px;
    float: left;
    position: absolute;
    padding-top: 325px;
    margin-left: 60px;
    z-index: 1;
  }
  p {
    font-weight: 500;
    font-size: 0.8em;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
  .card {
    background-color: $blue;
    min-height: 320px;
  }
}
.container-search {
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 10px;
  width: 80%;
  a:hover {
    background-color: rgba(0, 0, 0, 0.473);
  }
}

.edit-container {
  margin: 0 auto;
  padding: 100px 10px;
  width: 70%;
  button {
    border: 1px white solid;
    border-radius: 8px;
    color: white;
    width: 200px;
    margin: 30px auto;
    &:hover {
      background-color: $whitefade;
      color: white;
      text-decoration: none;
    }
  }
  textarea,
  input {
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(180, 180, 180);
  }
  h1 {
    font-size: 1.5em;
  }
}
