<h1>Create List</h1>

<form action="" method="POST">
  <label for="input-list-name">Name</label>
  <input type="text" id="input-list-name" name="name" placeholder="Your List Name" />
  <button>Create</button>
</form>

